.Cart{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 320px;
    height: 40px;
    background-color: rgb(28, 153, 101);
    border-radius: 20px;
    bottom: 0;
    margin: auto;
    z-index: 9999;
}

.Icon{
    width: 50px;
    position: absolute;
}

.Icon img {
    width: 100%
}

.tAmount {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: tomato;
    border-radius: 50%;
    font-weight: bold;

}

.price{
    display: flex;
    align-items: center;
    margin-left: 70px;
    color: #000;
    font-size: 20px;
}

.price::before{
    content:' $';
    font-size: 20px;
}

.btn{
    border: none;
    background-color: orange;
    width: 80px;
    border-radius: 20px;
}