.coin {
    display: flex;
    /* 设置辅助轴对齐方式 */
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px #63c74f solid;
}

/* solid 容易忘 */

.imgbox {
    width: 130px;
}

img {
    width: 100%;
}

.wordBox{
    flex: auto;
}

.title {
    font-weight: normal;
    font-size: 30px;
    margin: 0;
}

.word {
    margin: 0;
    color: #d32eaa;
    font-size: 15px;
    padding-right: 5px;
}
.num {
    margin-top: 20px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}

.price{
    font-weight: bold;
    font-size: 20px;
}

.price::before{
    content: '$';
    font-size: 15px;
}