.Confirm{
    z-index: 9999;
}

.ConfirmSure{
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: burlywood;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.ConfirmText{
    font-size: 20px;
}

